.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 95.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #640D6B;
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E2DFD0;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #E2DFD0;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #E2DFD0;
  }
  
  @media (max-width: 768px) {
    .header {
      padding: 1rem; /* Adjust padding for smaller screens */
    }
  }
  
  .container {
    max-width: 50%; /* Reduce maximum width */
    margin: 0 auto;
    padding: 3rem 0;
  }
  