.projects {
    background-color: #ffffff;
    padding: 3rem 0;
    text-align: center;
  }
  
  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .project {
    background-color: #640D6B;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-5px);
  }
  
  .project img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .project h3 {
    color: #E2DFD0;
  }
  
  .project p {
    color: #E2DFD0;
  }
  

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 0; 
}