.skills {
    background-color: #EDD2F3;
    padding: 11rem 0;
    text-align: center;
  }
  

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 0; 
  }
  
  
  .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .skill {
    background-color: #640D6B;
    padding: 1.0rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .skill-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFF2D7;
  }
  
  .progress-bar {
    background-color: #ffe6f2;
    height: 20px;
    border-radius: 8px;
    margin-top: 1rem;
    overflow: hidden;
  }
  
  .progress {
    background-color: #d100d1;
    height: 100%;
    border-radius: 8px;
    transition: width 1s ease-in-out;
  }
  
  